{% extends "base.html" %}
{%load static%}

{% block title %}
<title>О нас</title>
{% endblock title %}

{% block content %}

<body>
    <div class="container mt-4">
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'main/images/aboutus.jpg' %}" alt="О нас" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>Российский бренд женской одежды</p>
                <p>🧷Комфортная одежда для твоей повседневной жизни</p>
                <p>🧷Ограниченные коллекции</p>
                <p>🧷Наложенный платёж / возврат / обмен</p>
                <p>🧷Шоу-рум: Бровары, ул. Киевская, 261</p>
            </div>
        </div>
    </div>
    <div class="container mt-4 text-center">
        <br>
        <div class="row">
            <strong>Следите за нами в социальных сетях</strong>
        </div>
    </div>
</body>
</html>

{% endblock content %}
